<div class="new-clearance-container">
  <h1 class="title">New Clearance</h1>
  <%= form_tag clearance_tasks_path, method: :post, multipart: true, role: "form", class: "container" do  %>
  <div class="form-group row">
  <div class="error has-error">
      <%= flash[:error]  %>
    </div>
    <%= label_tag :clearance_file, "Upload file for clearance:"  %>
    <%= file_field_tag :clearance_file  %>
  </div>
  <button type="submit" class="btn btn-success btn-submit">Submit</button>
  <% end %>
</div>
